body{
   
    background-color: #39d38b;
}
#headerSection{
    padding: 5px;
}
#headerSection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}
#dropBox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #18bade;
    color: white;
}
